@import "tailwindcss";

@theme {
    --color-secondary: #fdb44b;
    --color-primary: #005792;
    --color-primary-light: #00bbf0;
    --color-primary-dark: #00204a;
    --h-\[25dvh\]: 25dvh;
    --max-h-\[25dvh\]: 25dvh;
}

@layer components {
    .title-h1 {@apply text-4xl text-center text-white font-bold sm:pt-10 border-b-3 border-secondary;}

    .contact-info-container {@apply flex items-center justify-center gap-2 mt-1 border-2 p-2 rounded-full border-secondary text-white;}

    .icon-social {@apply bg-black p-2 size-12 flex justify-center items-center rounded-full transition-transform;}

    /* About me & Abilities */
    .abilities-container { @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-8 max-w-6xl mx-auto; }
    .about-me-box { @apply sm:col-span-2 sm:p-4 md:col-span-1 md:row-span-2 flex flex-col justify-center items-center text-center; }
    .ability-box { @apply bg-primary-dark/50 p-6 rounded-lg flex flex-col items-center text-center border-b-3 border-secondary; }
    .about-me-title { @apply text-3xl font-bold text-white mb-4 border-b-3 border-secondary; }
    .about-me-description { @apply text-white/80 text-lg text-balance; }
    .ability-title { @apply text-xl font-semibold text-white mb-2; }
    .ability-description { @apply text-white/70 text-sm text-balance; }
    .ability-icon { @apply size-16 mb-3 text-white border-secondary border-2 p-3; }

    /* Projects */
    .project-link-container { @apply sm:col-span-1 col-span-3 max-h-[25dvh] h-[25dvh] relative rounded-3xl overflow-hidden bg-linear-to-br transition; }
    .project-link-image { @apply absolute h-full -right-20 ease-out duration-300 transition-transform; }
    .project-link-title { @apply absolute text-2xl text-center text-black font-bold sm:pt-10 bottom-2 left-2; }
    .project-link-techs { @apply absolute top-2 left-2 border rounded-xl px-2 py-1 flex gap-1; }
    
}