@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

@theme {
    --color-secondary: #fdb44b;
    --color-primary: #005792;
    --color-primary-light: #00bbf0;
    --color-primary-dark: #00204a;

}
